d{
  border-radius:5px;
  background-color:blue
  height:100px;
  width:100px,

}
#header{
  position:fixed;
  z-index:1;
  
}
.left{
  float:left
    
}
.right{
  float:right

}
#footer{
  clear: both;
