d{
  border-radius:5px;
  background-color:blue
  height:100px;
  width:100px,

}
#header{
  position:fixed;
  z-index:1;
  width:100px;
  margin-top: -20x;
  heigh:100px;
  backgroun-color:blue;
  margin-bottom: 10px;
}
.left{
  float:left
    
}
.right{
  float:right

}
#footer{
  clear: both;
