d{
  border-radius:5px;
  background-color:blue;
  height:100px;
  width:100px,

}
#header{
  position:fixed;
  z-index:1;
  width:100px;
  margin-top:-20px;
  heigh:100px;
  backgroun-color:blue;
  margin-bottom:10px;
}
#name{
  float:left;
  marging-left:5px;
  padding-top:5px;
  font-size:16px;
  font-family:times; 
  color:blue;
       
}
.right{
  float:right

}
#footer{
  clear: both;
